import("methods", "Category", "AnnotationDbi")
importMethodsFrom("Biobase", "annotation", "description")

export(assessSymmetry, bpMatrix, calcInOutDegStats, degreeEstimates,
       estErrProbMethodOfMoments, estimateCCMErrorRates, findAdjacent,
       genBPGraph, idHomodimers, idStochastic, idSystematic, idViableProteins,
       nullDistDoublyTestedEdges, ppiBuildParams4GO, ppiHGTest4GO,
       ppiBuildParams4PFAM, ppiHGTest4PFAM, twowayPERM, findDegree,
       makeBinVect, estimatePPIErrorRates, createSummaryTables,
       viabilityCharts, inOutScatterCharts, separateExptBySize, findAdjacent)
